<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        お気に入り一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @favorites.each do |favorite| %>
        <div class="column is-4">
            <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(favorite) do %>
                  <%= image_tag favorite.item.image.url if favorite.item.image? %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                      <% if favorite.item.user.profile_image? %> 
                      <%= image_tag favorite.item.user.profile_image.url, style: "border-radius: 50%" %>
                      <% else %>
                      <%= image_tag "/assets/no-image.png", style: "border-radius: 50%" %>
                      <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to favorite.item.user.username, user_path(favorite.user) %></div>
                </div>
              </div>

              <div class="content">
                <h1><%= link_to favorite.item.title, item_path(favorite.user) %></h1>
                  <time><%= favorite.item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</section>