<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @items.each do |item| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to item_path(item) do %>
                 <% if item.image? %> 
                  <%= image_tag item.image.url %>
                 <% else %>
                  <%= image_tag "/assets/no-image.png", style: "border-radius: 50%" %>
                   <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                      <% if item.user.profile_image? %> 
                      <%= image_tag item.user.profile_image.url, style: "border-radius: 50%" %>
                      <% else %>
                      <%= image_tag "/assets/no-image.png", style: "border-radius: 50%" %>
                      <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to item.user.username, user_path(item.user) %></div>
                </div>
              </div>

              <div class="content">
                <h1><%= link_to item.title, item_path(item) %></h1>
                  <time><%= item.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                   <% if user_signed_in? && current_user != item.user %>
                      <% if current_user.favorite_find(item.id) %>
                        <%= link_to 'お気に入りからはずす', destroy_favorite_path(item.id), method: :delete %>
                    <% else %>
                        <%= link_to 'お気に入り登録する', create_favorite_path(item.id), method: :post %>
                      <% end %>
                    <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>