<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        アイテム詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <% if @item.image? %> 
                <%= image_tag @item.image.url %>
              <% else %>
                <%= image_tag "/assets/no-image.png", style: "border-radius: 50%" %>
              <% end %>
             </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @item.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>アイテム</th>
                </tr>
                <tr>
                  <td><%= simple_format @item.body %></td>
                </tr>
              </table>
                 <% if @item.user.id == current_user.id %>
                 <%= link_to "編集画面へ", edit_item_path(@item), class: "button is-success" %>
                 <% end %>
            </div>
          </div>
        </div>
      </div>
 <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @item.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @item.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@item.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @item.user.username %> さんのページへ
          <% end %>
        </article>
        
        <article class="panel is-link">
          <p class="panel-heading">
          コメント
          </p>
          <div class="panel-block">
            <%= form_with(model:[@item, @comment], method: :post) do |f| %>
            <%= f.text_area :comment_content %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= button_tag type: 'submit', class: 'btn btn-default' do %>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <% end %>
          </div>
           <% end %>
          
       
        
       <article class="panel is-link">
          <p class="panel-heading">
          コメント一覧
          </p>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="panel-block">
              <%= link_to comment.user.username, user_path(comment.user_id), class: :comment_user %>
              <%= comment.comment_content %> 
               <% if comment.user.id == current_user.id %>
              <%= link_to '削除', item_comment_path(@item, comment), confirm: 'Are you sure?', method: :delete %>
              <% end %>
            </div>
          <% end %>
        <% end %>
                
        
      </div>
    </div>
  </div>
</section>


